---
layout: default
title: Courses
---

<h1 class="page-header">Courses</h1>

<p><a href="http://www.usfca.edu/"><img src="{{ site.url }}/img/path.jpg"  class="img-responsive img-thumbnail" alt="Japanese Tea Garden, San Francisco, California" width="400"></a></p>

<p>My courses for this semester are as follows:</p>

<ul class="list-unstyled">
{% for course in site.data.courses %}
{% if course.show %}
    <li><a href="{{ course.link }}">{{ course.code }} {{ course.name }}</a></li>
{% endif %}
{% endfor %}
</ul>

<h2>Previous Courses</h2>

<p>You may view my previous courses sorted by semester or grouped by course name.</p>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#bysemester">
            Courses by Semester <i class="fa fa-caret-down"></i>
            </a>
            </h4>
        </div>
        <div id="bysemester" class="panel-collapse collapse in">
            <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>Semester</th>
                <th>Section</th>
                <th>Course Title</th>
            </tr>
            </thead>
            <tbody>
            {% for course in site.data.courses %}
            {% capture semester %}{{ course.term }} {{ course.year }}{% endcapture %}
            <tr>
                {% if semester != prev %}
                {% assign prev = semester %}
                <td nowrap><strong>{{ semester }}</strong></td>
                {% else %}
                <td>&nbsp;</td>
                {% endif %}
                <td nowrap><a href="{{ course.link }}">{{ course.code }}</a></td>
                <td class="stretch"><a href="{{ course.link }}">{{ course.id }} {{ course.name }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#byname">
            Courses by Name <i class="fa fa-caret-down"></i>
            </a>
            </h4>
        </div>
        <div id="byname" class="panel-collapse collapse">
            {% assign prev = 'none' %}
            {% assign courses = site.data.courses | sort: 'sort' %}

            <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>Semester</th>
                <th>Section</th>
                <th>Course Title</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
            <tr>
                <td nowrap><a href="{{ course.link }}">{{ course.term }} {{ course.year }}</a></td>
                <td nowrap><a href="{{ course.link }}">{{ course.code }}</a></td>
                {% if course.id != prev %}
                {% assign prev = course.id %}
                <td class="stretch"><strong>{{ course.id }} {{ course.name }}</strong></td>
                {% else %}
                <td>&nbsp;</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>

<h2>Archived Courses</h2>

<p>The following are archived versions of the websites I created as a teacher assistant at the University of California, Davis.</p>

<ul class="list-unstyled">
<li><a href="http://www.cs.usfca.edu/~sjengle/ucdavis/ecs20-s07/">ECS 20 Discrete Mathematics (Spring 2007)</a></li>
<li><a href="http://www.cs.usfca.edu/~sjengle/ucdavis/ecs120-f06/">ECS 120 Introduction to the Theory of Computation (Fall 2006)</a></li>
<li><a href="http://www.cs.usfca.edu/~sjengle/ucdavis/ecs120-f07/">ECS 120 Introduction to the Theory of Computation (Fall 2007)</a></li>
<li><a href="http://www.cs.usfca.edu/~sjengle/ucdavis/ecs150-f03/">ECS 150 Operating Systems (Fall 2003)</a></li>
<li><a href="http://www.cs.usfca.edu/~sjengle/ucdavis/ecs150-w04/">ECS 150 Operating Systems (Winter 2004)</a></li>
</ul>

