---
layout: default
title: Students
---

<h3>Current Students</h3>

<ul class="list-unstyled">{% 
assign students = site.data.students | where_exp: "student", "student.current == true" | sort: "last" %}{% 
for student in students %}
  <li>
    <p>
      {% if student.linkedin %}<a href="{{ student.linkedin }}">{{ student.first }} {{ student.last }}</a>{% else %}{{ student.first }} {{ student.last }}{% endif %}{% if student.graduated %}, {{ student.degree }} {{ student.graduated | date: "%Y" }}{% endif %} {% 
  if student.teaching %} {% 
    assign teaching = student.teaching %}
      <br/>
      Teaching Assistant (x{{ teaching.size }}): {% 
    for position in teaching %}{% 
      assign course = site.data.teaching | where_exp: "course", "course.sort == position.course" | first %} {% 
      if course %}
      <a href="{{ course.link}}">{{ course.code | split: "-" | first }} {{ course.term }} {{ course.year }}</a>{% unless forloop.last %}, {% endunless %} {% 
      endif %}{% 
    endfor %}{% 
    endif %}{% 
      if student.research %} {% 
        assign research = student.research %}
        <br/>
        Research Assistant (x{{ research.terms.size }}): {{ research.terms |join: ", " }} {% 
        if research.links %} {% 
          for link in research.links 
            %}<a href="{{ link }}">[{{ forloop.index }}]</a> {% 
          endfor %}
        {% endif %}
      {% endif %}
    </p>
  </li>
{% endfor %}
</ul>

<!-- Teaching Assistants -->

{% assign students = site.data.students | where_exp: "student", "student.research != nil" | sort: "last" %}

<h3>Research Assistants ({{ students | size }})</h3>

<ul class="list-unstyled">{% 
for student in students %}
  <li>
    <p>
      {% if student.linkedin %}<a href="{{ student.linkedin }}">{{ student.first }} {{ student.last }}</a>{% else %}{{ student.first }} {{ student.last }}{% endif %}{% if student.graduated %} ({{ student.degree }} {{ student.graduated | date: "%Y" }}){% endif %}, {% 
        assign research = student.research %}
        {{ research.terms | join: ", " }}{% 
        if research.links %}, Details: {% 
          for link in research.links 
            %}<a href="{{ link.link }}">{{ link.name }}</a>{% unless forloop.last %},{% endunless %} {% 
          endfor %}
        {% endif %}
    </p>
  </li>
  
  {% if forloop.last %}
</ul>
  {% endif %}
{% endfor %}

<p><em>This list only includes students in paid research positions that I funded; there are many more for which I sponsored a project or co-advised on research.</em></p> 

<!-- Teaching Assistants -->

{% assign students = site.data.students | where_exp: "student", "student.teaching != nil" | sort: "last" %}

<h3>Teaching Assistants ({{ students | size }})</h3>

<ul class="list-unstyled">{% 
for student in students %}
  <li>
    <p>
      {% if student.linkedin %}<a href="{{ student.linkedin }}">{{ student.first }} {{ student.last }}</a>{% else %}{{ student.first }} {{ student.last }}{% endif %}{% if student.graduated %} ({{ student.degree }} {{ student.graduated | date: "%Y" }}){% endif %}, {% 
    assign teaching = student.teaching %} {% 
    for position in teaching %}{% 
      assign course = site.data.teaching | where_exp: "course", "course.sort == position.course" | first %} {% 
      if course %}
      <a href="{{ course.link}}">{{ course.code | split: "-" | first }} {{ course.term }} {{ course.year }}</a>{% unless forloop.last %}, {% endunless %} {% 
      endif %}{% 
    endfor %}
    </p>
  </li>
{% endfor %}
</ul>

<h3>Past Students</h3>

<ul class="list-unstyled">{% 
assign students = site.data.students | where_exp: "student", "student.current == nil" | sort: "last" %}{% 
for student in students %}
  <li>
    <p>
      {% if student.linkedin %}<a href="{{ student.linkedin }}">{{ student.first }} {{ student.last }}</a>{% else %}{{ student.first }} {{ student.last }}{% endif %}{% if student.graduated %}, {{ student.degree }} {{ student.graduated | date: "%Y" }}{% endif %} {% 
  if student.teaching %} {% 
    assign teaching = student.teaching %}
      <br/>
      Teaching Assistant (x{{ teaching.size }}): {% 
    for position in teaching %}{% 
      assign course = site.data.teaching | where_exp: "course", "course.sort == position.course" | first %} {% 
      if course %}
      <a href="{{ course.link}}">{{ course.code | split: "-" | first }} {{ course.term }} {{ course.year }}</a>{% unless forloop.last %}, {% endunless %} {% 
      endif %}{% 
    endfor %}{% 
    endif %}{% 
      if student.research %} {% 
        assign research = student.research %}
        <br/>
        Research Assistant (x{{ research.terms.size }}): {{ research.terms |join: ", " }} {% 
        if research.links %} {% 
          for link in research.links 
            %}<a href="{{ link }}">[{{ forloop.index }}]</a> {% 
          endfor %}
        {% endif %}
      {% endif %}
    </p>
  </li>
{% endfor %}
</ul>

