---
layout: default
title: Students
---

<h3>Current Students</h3>

<ul class="list-unstyled">{% 
assign students = site.data.students | where_exp: "student", "student.current == true" | sort: "last" %}{% 
for student in students %}
  <li>
    <p>
      <a href="{{ student.linkedin }}">{{ student.first }} {{ student.last }}</a>{% if student.graduated %}, {{ student.degree }} {{ student.graduated | date: "%Y" }}{% endif %} {% 
  if student.teaching %} {% 
    assign teaching = student.teaching %}
      <br/>
      Teaching Assistant (x{{ teaching.size }}): {% 
    for position in teaching %}{% 
      assign course = site.data.teaching | where_exp: "course", "course.sort == position.course" | first %} {% 
      if course %}
      <a href="{{ course.link}}">{{ course.code | split: "-" | first }} {{ course.term }} {{ course.year }}</a>{% unless forloop.last %}, {% endunless %} {% 
      endif %}{% 
    endfor %}{% 
    endif %}{% 
      if student.research %} {% 
        assign research = student.research %}
        <br/>
        Research Assistant (x{{ research.terms.size }}): {{ research.terms |join: ", " }} {% 
        if research.links %} {% 
          for link in research.links 
            %}<a href="{{ link }}">[{{ forloop.index }}]</a> {% 
          endfor %}
        {% endif %}
      {% endif %}
    </p>
  </li>
{% endfor %}
</ul>

<h3>Past Students</h3>

<ul class="list-unstyled">{% 
assign students = site.data.students | where_exp: "student", "student.current == nil" | sort: "last" %}{% 
for student in students %}
  <li>
    <p>
      <a href="{{ student.linkedin }}">{{ student.first }} {{ student.last }}</a>{% if student.graduated %}, {{ student.degree }} {{ student.graduated | date: "%Y" }}{% endif %} {% 
  if student.teaching %} {% 
    assign teaching = student.teaching %}
      <br/>
      Teaching Assistant (x{{ teaching.size }}): {% 
    for position in teaching %}{% 
      assign course = site.data.teaching | where_exp: "course", "course.sort == position.course" | first %} {% 
      if course %}
      <a href="{{ course.link}}">{{ course.code | split: "-" | first }} {{ course.term }} {{ course.year }}</a>{% unless forloop.last %}, {% endunless %} {% 
      endif %}{% 
    endfor %}{% 
    endif %}{% 
      if student.research %} {% 
        assign research = student.research %}
        <br/>
        Research Assistant (x{{ research.terms.size }}): {{ research.terms |join: ", " }} {% 
        if research.links %} {% 
          for link in research.links 
            %}<a href="{{ link }}">[{{ forloop.index }}]</a> {% 
          endfor %}
        {% endif %}
      {% endif %}
    </p>
  </li>
{% endfor %}
</ul>

