div#content h2:first-child {
  margin-top: 0px;
}

div#header .text-muted a {
  color: inherit;
}

div#header {
  margin-bottom: 2ex;
}

table.table-dates th {
  white-space: nowrap;
  text-align: right;
  padding-right: 0.5em;
}

table.table-dates tr {
  vertical-align: top;
}

table.table-dates td {
  width: 100%;
  padding-bottom: 1ex;
}

table.compact td {
  padding-bottom: 0.25ex !important;
}

b {
  font-weight: normal;
  border-bottom: 1px dotted #bbbbbb;
}

tr.spacer {
  height: 1.5ex;
  font-size: 1.5ex;
  line-height: 1.5ex;
}
