---
layout: default
title: Teaching
---

<h3>Current Semester</h3>

<ul class="list-unstyled">{%
for course in site.data.teaching %}{%
  if course.show %}
  <li><a href="{{ course.link }}">{{ course.code }} {{ course.name }}</a></li>{%
  endif %}{%
endfor %}
</ul>

<p><em class="text-muted">I am on sabbatical until Fall 2018, and will not be teaching courses until then.</em></p>

<h3>Previous Semesters</h3>

<ul class="list-unstyled">{%
  assign link = 'none' %}{%
  assign prev = 'none' %}{%
  assign courses = site.data.teaching | sort: 'sort' %}{%
    for course in courses %}{%
      if course.id != prev %}{%
      assign prev = course.id %}{%
        if forloop.first %}{%
        else
    %}</p>
  </li>{%
        endif %}
  <li>
    <p>
      {{ course.id }} {{ course.name}}<br/>
      <a href="{{ course.link }}">{{ course.term }} {{ course.year }}</a>{%
      else %}{% if course.link == link %} <span class="text-muted">(2x Sections)</span>{% endif %}{% if course.link == link %}{% else %}, <a href="{{ course.link }}">{{ course.term }} {{ course.year }}</a>{%
      endif %}{% endif %}{%
      assign link = course.link %}{%
    endfor %}
</ul>

<h3>Archived Courses</h3>

<ul class="list-unstyled">
  <li>
    <p>
      ECS 20 Discrete Mathematics<br/>
      <a href="http://www.cs.usfca.edu/~sjengle/ucdavis/ecs20-s07/">Spring 2007</a>
    </p>
  </li>

  <li>
    <p>
      ECS 120 Introduction to the Theory of Computation<br/>
      <a href="http://www.cs.usfca.edu/~sjengle/ucdavis/ecs120-f06/">Fall 2006</a>,
      <a href="http://www.cs.usfca.edu/~sjengle/ucdavis/ecs120-f07/">Fall 2007</a>
    </p>
  </li>

  <li>
    <p>
      ECS 150 Operating Systems<br/>
      <a href="http://www.cs.usfca.edu/~sjengle/ucdavis/ecs150-f03/">Fall 2003</a>,
      <a href="http://www.cs.usfca.edu/~sjengle/ucdavis/ecs150-w04/">Winter 2004</a>
    </p>
  </li>
</ul>
