<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sophie J. Engle</title>

  <!-- bootstrap required css -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">

  <!-- bootstrap optional css -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap-theme.min.css">

  <!-- fontawesome pro css -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/all.min.css">

  <!--custom css -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <style>
  div#content h2:first-child {
    margin-top: 0px;
  }

  div#header .text-muted a {
    color: inherit;
  }

  table.table-dates th {
    white-space: nowrap;
    text-align: right;
    padding-right: 0.5em;
  }

  table.table-dates tr {
    vertical-align: top;
  }

  table.table-dates td {
    width: 100%;
    padding-bottom: 1ex;
  }
  </style>
</head>

<body>
  <div class="container">
    <!-- header row -->
    <div class="row" id="header">
      <div class="col-xs-12">
        <h1>Sophie J. Engle</h1>
        <p class="small text-muted">
          <a href="https://www.usfca.edu/faculty/sophie-engle">Associate Professor</a> (<a href="https://pronouny.xyz/pronouns/5db500b6a97a650015170352">she/her</a>), <a href="https://vgl.cs.usfca.edu/">Visualization and Graphics Lab</a>, <a href="https://www.cs.usfca.edu/">Department of Computer Science</a>, <a href="https://www.usfca.edu/">University of San Francisco</a>
        </p>
      </div>
    </div>

    <!-- main row -->
    <div class="row">

      <!-- sidebar -->
      <div class="col-sm-4 col-sm-push-8 hidden-print" id="sidebar">

        <!-- navigation -->
        <div class="panel panel-default" id="navigation">
          <div class="panel-body">
            <h5 class="text-uppercase">Site Navigation</h5>

            <ul class="fa-ul">
              <li><i class="fa-li fas fa-home"></i> <a href="{{ site.baseurl }}/index.html">Home</a></li>
            </ul>

            <ul class="fa-ul">
              <li><i class="fa-li fas fa-chalkboard-teacher"></i> <a href="{{ site.baseurl }}/teaching.html">Teaching</a></li>
              <li><i class="fa-li fas fa-books"></i> <a href="{{ site.baseurl }}/research.html">Research</a></li>
              <li><i class="fa-li fas fa-hands-heart"></i> <a href="{{ site.baseurl }}/service.html">Service</a></li>
            </ul>

            <ul class="fa-ul">
              <li><i class="fa-li fas fa-address-card"></i> <a href="{{ site.baseurl }}/contact.html">Contact</a></li>
            </ul>
          </div>
        </div>

        <!-- contact -->
        <div class="panel panel-default hidden-xs" id="contact">
          <div class="panel-body">
            <h5 class="text-uppercase">Contact Information</h5>

            <ul class="fa-ul">
              <li><i class="fa-li fas fa-envelope"></i> <a href="mailto:sjengle@cs.usfca.edu">sjengle@cs.usfca.edu</a> <span class="label label-default hidden-sm">Preferred</span></li>
              <li><i class="fa-li fas fa-phone text-muted"></i> <s class="text-muted">1 (415) 422-4174</s></li>
            </ul>

            <ul class="fa-ul">
              <li><i class="fa-li fab fa-twitter"></i> <a href="https://twitter.com/sjengle">twitter.com/sjengle</a></li>
              <li><i class="fa-li fab fa-github-alt"></i> <a href="https://github.com/sjengle">github.com/sjengle</a></li>
              <li><i class="fa-li fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/sjengle">linkedin.com/in/sjengle</a></li>
            </ul>

            <ul class="fa-ul">
              <li><i class="fa-li fas fa-building"></i> <a href="https://www.usfca.edu/campus-buildings-services/main-campus/harney-science">Harney Science Center</a></li>
              <li><i class="fa-li fas fa-map-signs"></i> 4th Floor, Room 412B</li>
            </ul>
          </div>
        </div>

        <!-- -->
        <div class="panel panel-default hidden-xs" id="contact">
          <div class="panel-body">
            <h5 class="text-uppercase">Related Sites</h5>

            <ul class="fa-ul">
              <li><i class="fa-li fas fa-chart-network"></i> <a href="https://vgl.cs.usfca.edu/">Visualization and Graphics Lab</a></li>

              <li><i class="fa-li fas fa-user-graduate"></i> <a href="https://scholars.cs.usfca.edu/">Community Engaged Scholars in CS</a></li>
            </ul>
          </div>
        </div>

      </div> <!-- end sidebar -->

      <!-- content -->
      <div class="col-sm-8 col-sm-pull-4" id="content">

<!-- begin inserted content -->
<h2 class="page-header">{{ page.title }}</h2>
{{ content }}
<!-- end inserted content -->

      <br/>
      </div> <!-- end content -->

    </div> <!-- end main -->
  </div> <!-- end container -->

<!-- jquery required javascript -->
<script src="{{ site.baseurl }}/js/jquery.min.js"></script>

<!-- bootstrap required javascript -->
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

</body>
</html>
